<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ConStr" connectionString="Data Source=DESKTOP-V7SQE52;Initial Catalog=WebformsCms;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="ConStrTest" connectionString="Data Source=DESKTOP-V7SQE52;Initial Catalog=WebformsCms.Tests;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>